body {
  background: rgb(146, 142, 142);  
  padding: 20px;
  width: 900px;
}

#page {
  width: 80%;
  background: moccasin;
  color: maroon;  
  padding: 20px;
  margin: auto;
}

header {
  padding: 10px;
}
 
content {
  padding: 10px;
}

article {
  padding: 10px;
}

p {
  margin: 10px;
}

h1 {
  font-family: cursive;
  font-size: 40px;
}

h2 {
  width: auto;
  font-family: serif;
  font-size: 150%;
  border-bottom: 2px solid black;
}

h3 {
  padding: 5px;
  font-family: serif;
  font-size: 110%;
}

ul {
  list-style-type: circle;
}

li {
  margin: 10px;
}

ol {
  list-style-type: decimal;
}