body {
  background: rgb(146, 142, 142);  
  padding: 20px;
  width: 800px;
}

#page {
  width: 80%;
  background: moccasin;
  color: maroon;  
  padding: 20px;
  margin: auto;
}

header {
  padding: 10px;
}

content {
  padding: 10px;
}

article {
  padding: 10px;
}

p {
  margin: 10px;
}

h1 {
  font-family: ;
  font-size: 40px;
}

h2 {
  width: auto;
  font-family: serif;
  font-size: 150%;
  border-bottom: 2px solid black;
}

ul {
  list-style-type: circle;
}

li {
  margin: 10px;
}

ol {
  list-style-type: decimal;
}